# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv

# Credentials and Environment
.env
*.key
*.pem
credentials.json

# Test artifacts
videos/
screenshots/
logs/

# PyCharm files
.idea/
*.iml
.idea/workspace.xml
